/* bestsellers */
::selection{
    background-color: rgba(255, 70, 70, 0.848);
    color: black;
}

.cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#card-one {
    top: 60%;
}

#card-two {
    top: 160%;
}

#card-three {
    top: 150%;
}
#card-four {
    top: 180%;
}
.cursor{
    transform: translate(-50%,-50%);
}
.pointer{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
}
.products h1{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.products h3{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.rgt{
    white-space: nowrap;
    overflow-x: auto;
}
.rgt::-webkit-scrollbar{
    display: none;
}
.item{
    display: inline-block;
    margin-right: 4vmin;
}
@media (max-width:600px) {
    .products h1{
        transform: rotate(-90deg);
        transform-origin: left top;
        white-space: nowrap;
        position: absolute; 
        top: 10%; 
        left: 0;
    }
    .products h3{
        transform: rotate(-90deg);
        transform-origin: left top;
        white-space: nowrap;
        position: absolute; 
        top: 15%; 
        left: 0;
        line-height: 20px;
        font-size: 4vmin;
    }
    .rgt{
        display: flex;
        flex-wrap: wrap;
    }
}
    


 
