@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant:ital,wght@0,300..700;1,300..700&family=LXGW+WenKai+Mono+TC&family=Poetsen+One&family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Mono One", monospace;
    font-weight: 100;
    
    font-family: "metropolis", sans-serif ; 
}
@font-face {
  font-family: metropolis;
  src: url(./metropolis.light.otf);
}
html body{
   height: 100vh;
  width: 100%;
}

/*                  Home-Page CSS                  */
#home {
    /* margin-top: 100%; */
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  canvas {
    max-width: 100vw;
    max-height: 100vh;
  }

  .Life-Section{
    background: url(/Devinja-ReimagineRound1/media/download.svg);
  }
/*                Home-Page CSS Ends Here